
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Details Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>

<div class="contact-form">
	<form action="{{ url_for('receive_details') }}" method="post" onsubmit="return checkDetails();">
        <h1>Details Form</h1>
        
        <h5 style="color: red;" value="1" id="message"></h5>
		<div class="form-group">
            <label for="title">Select Title</label>
			<select name="title" id="title" class="form-control">
				<option value="Mr">Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Miss">Miss</option>
			</select>
		</div>
		<div class="form-group">
            <label for="name">Name</label>
			<input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
			<input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
			<input type="password" class="form-control" id="password" name="password"  required>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
			<input type="number" class="form-control" id="phone" name="phone" required>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
			<input type="address" class="form-control" id="address" name="address" required>
        </div>
        
        <div class="form-group">
            <label for="pincode">Pincode</label>
			<input type="number" class="form-control" id="pincode" name="pincode" required>
        </div>
        <div class="form-group">
            <label for="job_type">Current Status</label>
			<select name="job_type" id="job_type" class="form-control">
				<option value="Student">Student</option>
				<option value="Professional">Professional</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary btn-block" ><i class="fa fa-paper-plane"></i>Submit</button>
	</form>
</div>


</body>

<script>

    function checkDetails(){
    
     var str1 = ""
     var password = document.getElementById('password').value
     var phone = document.getElementById('phone').value
     var name = document.getElementById('name').value
     var address = document.getElementById('address').value
     var pincode = document.getElementById('pincode').value
     let a = 0
    
    console.log(name+phone+address+pincode);
    
     if(phone.length != 10){
         str1 = str1 + "<li>Phone must be 10 digits</li>"
         a = 1
     }
     if(name.length < 6){
         console.log("hi")
         str1 = str1 + "<li>Name must be atleast 6 characters long</li>"
         a = 1
    
     }
     if(address.length < 10){
         str1 = str1 + "<li>Address must be 10 at least characters long</li>"
         a = 1
     }
     if(pincode.length != 6){
         str1 = str1 + "<li>Pincode must be 6 digits</li>"
         a = 1
     }
     
     if(password.length <= 8){
        str1 = str1 + "<li>Password must be at least 8 characters long</li>";
        a = 1
     }
     if(str1 != ""){
        document.getElementById('message').innerHTML = str1;
        return false;
    }
        return true;
    }
</script>
</html>